body{
    background-color: black;
    color: white;
}

.c{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.c a{
    color: black;
    text-decoration: none;
    font-size: 24px;
    margin-top: 20px;
    background: white;
    padding: 10px 20px;
    border-radius: 5px;

}